@import './assets/scss/MainPage';
@import './assets/scss/CounterPage';
@import './assets/scss/ProfileCardPage';



.App {
  text-align: center;
  background: #141516;
  color: #ced4e2;
  height: 100vh;
}